.gallery_grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    grid-gap: 10px;
    margin-top: 30px;
  
    & .container-fluid{
      padding: 30px;
    }
  
    & .gal1 {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
    }
  
    & .gal2 {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
  
    & .gal3 {
      grid-column: 2 / 3;
      grid-row: 2 /3;
    }
  
    & .imgSection {
      & img {
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  
  @media (max-width: 991px) {
    .gallery_grid {
      margin-top: 35px;
      & .gal1 {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
      }
    
      & .gal2 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
      }
    
      & .gal3 {
        grid-column: 2 / 3;
        grid-row: 2 /3;
      }
  
      & .imgSection {
        & img {
          width: 100%;
        }
      }
    }
  }
  
  @media (max-width: 767px) {
    .gallery_grid {
      margin-top: 0px;
    }
  }